# Build do CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Arquivos gerados
*.o
*.out
*.exe

# Arquivos temporários
*.log
*.tmp
*.swp

# CLion / IntelliJ
.idea/

# Arquivo desnecessário
main.c

# Binários Linux
main
ex01
ex02
ex03
ex04
ex05
ex06
ex07
ex08
ex09
ex10
ex11
ex12
ex13